.container{
	margin: 0 auto;
	max-width: 1000px;
	clear: both; 
}

.font_style{
	font-family: Glyphicons Halflings;
	font-size: 14px;
}

.search_box{
	width:400px;
}

.social_box{
	margin-top:5pxxx;
	float:top;
	font-size: 20px;
}

#header-left {
	margin-left:0px;
	float:left;
	padding: 15px 0px 15px 15px;
}

#header-right {
	margin-right:0px;
	float:right;
	padding: 15px 0px 15px 15px;
}

.logo{
	width:60%;
	cursor:pointer;
}