
.link_style{
	font-family: Abel;
	font-size: 15px;
	text-decoration: none !important;
	color: #fff;
}

.link_style: hover{
	color: #e69b14;
}

.link_style: active{
	color: #e69b14;
}

.search_box{
	width:400px;
}

.social_box{
	margin-top:5px;
	float:right;
	font-size: 20px;
}

#header-left {
	margin-left:0px;
	float:left;
	padding: 15px 0px 15px 15px;
}

#header-right {
	margin-right:0px;
	float:right;
	padding: 15px 0px 15px 15px;
}

.btn-brown {
  color: #fff;
  background-color: #e69b14;
  border-color: #e69b14;
}
.btn-brown:focus,
.btn-brown.focus {
  color: #fff;
  background-color: #e69b14;
  border-color: #b07f27;
}
.btn-brown:hover {
  color: #fff;
  background-color: #7d5d23;
  border-color: #b07f27;
}
.btn-brown:active,
.btn-brown.active,
.open > .dropdown-toggle.btn-brown {
  color: #fff;
  background-color: #7d5d23;
  border-color: #b07f27;
}

.earth_color {
  color: #428bca;
}

.earth_color:hover {
	color: #1c4263;
}

.earth_color:active {
	color: #1c4263;
}
