body{
    margin:0;
    width:100%;
    height:100%;
    background: url(../img/crossword.png);
}

.main_wrapper{
    min-height: 100%;
    position: relative;
}

.side-text {
    
    font-size: 16px;

}
.welcome-text {
    font-size: 16px;

}
.error {
    border-color: red;
    box-shadow: 0 0 0 0;

}
.valid {
    border-color: green;
    box-shadow: 0 0 0 0;
}

.container,.container-content{
    margin: 0 auto;
    max-width: 1000px;
    clear: both; 
}

.container-content{
    padding-bottom: 60px;
}

.footer{
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #222;
    border-color: #080808;
    margin-top:5px;
    color: #fff;
}

.footer_list{
    margin-top:5px;
    text-align: center;
}

.footer_link{
    display: inline-block;
    color: white;
    padding: 0px 0px 0px 0px;
    background: none;
    margin-right:20px;
}

.borderless{
    border-top: none;
}

.price-tag{
    font-size: 28px;
}

.person-form {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.keynote-caption {
    text-align: center;
}

.keynote-thumbnail:hover {
    background-color: #ededed;
}

.front-page-box {
    padding-top: 25px;
    text-align: center;
    height: 20%;
    cursor: pointer;
}

.front-page-box:hover {
    padding-top: 20px;
    background-color: #d1d1d1;
    transition: background-color 0.2s linear, padding 0.2s linear;
}

.front-page-box-link {
    color: inherit;
}

.front-page-box-link:hover {
    color: inherit;
    text-decoration: none;
}
.profile-group {
	margin-top: 10px; 
	display: block;
	margin-bottom: 10px;
}
.time-cell {
	width: 20%;
	color: #555555;
	font-size: 15px;
}
.description-cell {
	color: #444444;
	font-size: 18px;
}